In [ ]:
number_of_people = 20
if ( number_of_people > 20):
  print( "total people")
else:
    print("people are here")

In [ ]:
number_of_people = 10
if (number_of_people == 10):
  print("total people")
  else

In [ ]:
num :int = 100
if (num > 0  and num < 100):
  print("positive number")
else:
  print(("negative number"))

In [ ]:
food:str = "burger"
coke :str= "pizza"
if (food == coke):
  print("food is good")
else:
    print(("food is nt good"))

In [ ]:
#snake case
time_of_day: str = "evening"
if "time_of_day == morning":
  print(("good morning"))
elif time_of_day == "evening":
  print("good evening")
else:
  print("good night")
time_of_day: str= "night"
if "time_of_day == night":
  print("good night")

In [ ]:
name_of_students:list[str] = ["mariam,amna,aisha,saima,aqsa,saba,iqra,aiman"]
print(name_of_students)
for loop in name_of_students:
  print(loop)
  print ("name_of_students [0,1,2,3,4,5,6,7]")

In [ ]:
name_of_days:list [str]= ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
name_of_days: list[str] = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
for num in name_of_days:
  print(num)
for i in range(0,6):
  print(i)